@import url(text.css);
@import url(reset.css);

body {
  width: 960px;
  margin: 0 auto;
  background: #534741 url(/images/background.png) fixed repeat top left;
}
#header {
  text-indent: -9000px;
  height: 108px;
  background: transparent url(/images/title.png) no-repeat top right;
}

#tell_me_how {
  margin: 0 auto 20px;
  padding: 15px 60px;
  width: 800px;
  background-color: #F4F0E6;
  -moz-transform-origin: 20% 0;
  -moz-transform: rotate(-1deg);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 3px 20px #111;
  -webkit-box-shadow: 1px 3px 20px #111;
  box-shadow: 1px 3px 20px #111;
}

#map_canvas {
  height: 200px;
  width:  300px;
}

#tooltip {
  position: absolute;
  background-color: #900;
  color: #fff;
  border: 1px solid #000;
  padding: 2px;
  z-index: 5000;
}

#icanhaznoms {
  float: left;
  width: 340px;
  background-color: #F4F0E6;
  margin-right: 20px;
}
#categories {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -koz-column-count: 2;
  column-count: 2;
}
#omnom {
  background: #F4F0E6 url(/images/omnombg.png) repeat-y top right;
  float: left;
  width: 300px;
  height: 540px;
  background-color: #F4F0E6;
}

#ohaipplz {
  background: transparent url(/images/ohhai.png) no-repeat 10px 10px;
  float: left;
  width: 300px;
  height: 540px;
  background-color: #F4F0E6;
}
#ohaipplz h2 {
  text-indent: -9000px;
}
#ohaipplz form {
  margin: 80px 0 0;
  text-align: center;
}
#ohaipplz input {
  background: none;
  border: none;
  margin: 5px 0;
}
#ohaipplz p input {
  font-size: 1.6em;
  background: #fff;
  width: 210px;
  padding: 0 20px;
  border: 3px solid #998675;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  -moz-border-radius: 20px;
}
p input#nom {
  margin: -27px 0 0 -160px;
  height: 242px;
  width: 472px;
  background: transparent url(/images/nom.png) no-repeat 10px 10px;
  border: none;
  text-indent: -9000px;
  filter:alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
input#creator_email {
  margin: 0 0 65px;
}
#sum_noms .name {
  font-weight: bold;
}