/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

br {
  clear: both;
}

@font-face {
font-family: "Layne Lighthouse";
src: url("/fonts/PhaistosDisk_-_Layne_Lighthouse.ttf")
}

@font-face {
font-family: "Layne Lighthouse Bold";
src: url("/fonts/PhaistosDisk_-_Layne_Lighthouse_bold.ttf")
}

body {
  font: 100% "Layne Lighthouse",Georgia, serif;
  color: #42210B;
  width: 960px;
  margin: 0 auto;
  background: #534741 url(/images/background.png) fixed repeat top left;
}

body strong {
  font-family: "Layne Lighthouse Bold",Georgia, serif;
}


#header {
  text-indent: -9000px;
  height: 108px;
  background: transparent url(/images/title.png) no-repeat top right;
}

#tell_me_how {
  font-size: .8em;
  z-index: 5;
  margin: 0px 10px 10px 10px;
  padding: 5px 5px;
  background-color: #F4F0E6;
/*  -moz-transform-origin: 10% 90%;
  -moz-transform: rotate(-1deg);
  -webkit-transform-origin: 30% 0;
  -webkit-transform: rotate(-1deg);
  transform-origin: 0 0;
  transform: rotate(-1deg);
*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
/*  -moz-box-shadow: 1px 3px 20px #111;
  -webkit-box-shadow: 1px 3px 20px #111;
  box-shadow: 1px 3px 20px #111;
*/
}

#map_canvas {
  height: 200px;
  width:  330px;
  z-index: 9;
  border: 3px solid #42210B;
  margin: -20px auto 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#tooltip {
  position: absolute;
  background-color: #900;
  color: #fff;
  border: 1px solid #000;
  padding: 2px;
  z-index: 5000;
}

#yelp_message {
  background: #F4F0E6 url(/images/yelp_left.png) no-repeat top left;
  height: 48px;
  padding: 14px 10px;
}

#yelp_message p {
  background: #F4F0E6 url(/images/yelp_right.png) no-repeat top right;
  margin: 0 0 0 62px;
  padding: 14px 10px;
  display: inline;
}

#icanhaznoms {
  position: relative;
  z-index: 2;
  float: left;
  width: 340px;
  background: #F4F0E6;
  margin: 0 20px 0 0;
  padding: 10px 10px 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 1px 3px 20px #111;
  -webkit-box-shadow: 1px 3px 20px #111;
  box-shadow: 1px 3px 20px #111;
}

#icanhaznoms h3 {
  text-align: center;
  margin-bottom: 0.5em;
}

#location_form {
  margin-bottom: .7em;
}

input#location_text {
  font-size: .8em;
  background: #fff;
  width: 140px;
  padding: 0 .5em;
  margin-right: .4em;
  border: 3px solid #998675;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

input.affirmative {
  font-size: .8em;
  background: #C9D159;
  padding: 0 .5em;
  border: 3px solid #7F8212;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#categories {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  margin-bottom: 10px;
}

#wrapper {
  position: relative;
  background-color: #F4F0E6;
  float: left;
  width: 560px;
  height: 495px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transform-origin: 15% 35%;
  -moz-transform: rotate(6deg);
  -webkit-transform-origin: 45% 0;
  -webkit-transform: rotate(4deg);
  transform-origin: 45% 0;
  transform: rotate(4deg);
  -moz-box-shadow: 1px 3px 20px #111;
  -webkit-box-shadow: 1px 3px 20px #111;
  box-shadow: 1px 3px 20px #111;
}

#omnom, #empty_omnom {
  position: relative;
  background: transparent url(/images/omnombg.png) no-repeat -8px 0;
  float: left;
  padding: 60px 20px 0;
  width: 240px;
  height: 435px;
  background-color: #F4F0E6;
}

#omnom h2, #empty_omnom h2 {
  text-indent: -9000px;
}

#sum_noms {
  padding-left: 10px;
  padding-top: 15px;
  font-size: .7em;
}

#sum_noms li
{
  padding-top: 0px;
}

#sum_noms div.name {
  font-family: "Layne Lighthouse Bold",Georgia, serif;
}

a.remove {
  color: #42210B;
  position: relative;
  left: 200px;
  top: -20px;
  font: 10px "Arial Black", Gadget, sans-serif;
  background: #F78288;
  padding: 0 4px;
  border: 3px solid #AF414C;
}

#new_nom {
  position: absolute;
  bottom: 13px;
  left: 30px;
}

#new_nom_name, #new_nom_details {
  width: 200px;
  font-size: .8em;
  background: #fff;
  padding: 0 .5em;
  margin-right: .4em;
  border: 3px solid #998675;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

#new_nom_name {
  height: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#new_nom_details {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#ohaipplz {
  background: transparent url(/images/ohhai.png) no-repeat 10px 10px;
  float: left;
  width: 280px;
  height: 495px;
}

#ohaipplz h2 {
  text-indent: -9000px;
}

#ohaipplz form {
  margin: 80px 0 0;
  text-align: center;
}

#ohaipplz input {
  background: none;
  border: none;
  margin: 3px 0;
}

#ohaipplz p input {
  font-size: 15px;
  background: #fff;
  width: 210px;
  height: 25px;
  padding: 5px .8em 0;
  border: 3px solid #998675;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

p input#nom {
  position: relative;
  z-index: 8;
  top: 0;
  left: -170px;
  height: 242px;
  width: 472px;
  background: transparent url(/images/nom.png) no-repeat top left;
  border: none;
  text-indent: -9000px;
  filter:alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transform-origin: 25% 35%;
  -moz-transform: rotate(-8deg);
  -webkit-transform-origin: 25% 35%;
  -webkit-transform: rotate(-8deg);
  transform-origin: 25% 35%;
  transform: rotate(-8deg);
}

input#creator_email {
  margin: 0 0 65px;
}

#sum_noms .name {
  font-weight: bold;
}

a {
  color: #7F8212;
  text-decoration: none;
}

#tell_me_how p, #tell_me_how li {
  padding-bottom: .4em;
}
#tell_me_how li {
  list-style-type: disc;
  margin-left: 2em;
}
#location_form p {
  color: #998675;
  font-size: .7em;
  margin: .2em 0 0 .5em;
}


#results_list li {
  padding: 10px 5px;
}
#results_list li .name {
  font-weight: bold;
}
#lame_pplz{
  margin-top: 10px;
}

#yelp_contrib {
/*  font-size: 0.6em;*/
  font-size: 0.9em;
  line-height: 32px;
  position: absolute;
  bottom: 0px;
  right: 5px;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  
}

#yelp_contrib img {
  vertical-align: top;
}