/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

br {
  clear: both;
}

@font-face {
font-family: "Layne Lighthouse";
src: url("/fonts/PhaistosDisk_-_Layne_Lighthouse.ttf")
}

@font-face {
font-family: "Layne Lighthouse Bold";
src: url("/fonts/PhaistosDisk_-_Layne_Lighthouse_bold.ttf")
}

body {
  font: 100% "Layne Lighthouse",Georgia, serif;
  color: #42210B;
  width: 960px;
  margin: 0 auto;
  background: #534741 url(/images/background.png) fixed repeat top left;
}

body strong {
  font-family: "Layne Lighthouse Bold",Georgia, serif;
}


#header {
  text-indent: -9000px;
  height: 108px;
  background: transparent url(/images/title.png) no-repeat top right;
}

#tell_me_how, #glossary {
  font-size: .8em;
  z-index: 5;
  margin: 0px 10px 10px 10px;
  padding: 5px 5px;
  background-color: #F4F0E6;
/*  -moz-transform-origin: 10% 90%;
  -moz-transform: rotate(-1deg);
  -webkit-transform-origin: 30% 0;
  -webkit-transform: rotate(-1deg);
  transform-origin: 0 0;
  transform: rotate(-1deg);
*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
/*  -moz-box-shadow: 1px 3px 20px #111;
  -webkit-box-shadow: 1px 3px 20px #111;
  box-shadow: 1px 3px 20px #111;
*/
}

#map_canvas {
  height: 200px;
  width:  330px;
  z-index: 9;
  border: 3px solid #42210B;
  margin: -20px auto 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#tooltip {
  position: absolute;
  background-color: #900;
  color: #fff;
  border: 1px solid #000;
  padding: 2px;
  z-index: 5000;
}

#map_message {
  background: #F4F0E6 url(/images/yelp_content.png) no-repeat top left;
  height: 48px;
  padding: 14px 10px;
}

#map_message.content {
  background: #F4F0E6 url(/images/yelp_content.png) no-repeat top left;
}

#map_message.happy {
  background: #F4F0E6 url(/images/yelp_happy.png) no-repeat top left;
}

#map_message.mad {
  background: #F4F0E6 url(/images/yelp_mad.png) no-repeat top left;
}

#map_message p {
  background: #F4F0E6 url(/images/yelp_werds.png) no-repeat top right;
  margin: 0 0 0 62px;
  padding: 14px 15px 14px 10px;
  display: inline;
}

#icanhaznoms {
  position: relative;
  z-index: 2;
  float: left;
  width: 340px;
  background: #F4F0E6;
  margin: 0 20px 0 0;
  padding: 10px 10px 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 1px 3px 20px #111;
  -webkit-box-shadow: 1px 3px 20px #111;
  box-shadow: 1px 3px 20px #111;
}

#icanhaznoms h3 {
  text-align: center;
  margin-bottom: 0.5em;
}

#location_form {
  margin-bottom: .7em;
}

input#location_text {
  font-size: .8em;
  background: #fff;
  width: 140px;
  padding: 0 .5em;
  margin-right: .4em;
  border: 3px solid #998675;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

input.affirmative {
  font-size: .8em;
  background: #C9D159;
  padding: 0 .5em;
  border: 3px solid #7F8212;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#categories {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  margin-bottom: 10px;
}

#wrapper {
  position: relative;
  background-color: #F4F0E6;
  float: left;
  width: 560px;
  height: 495px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transform-origin: 15% 35%;
  -moz-transform: rotate(6deg);
  -webkit-transform-origin: 45% 0;
  -webkit-transform: rotate(4deg);
  transform-origin: 45% 0;
  transform: rotate(4deg);
  -moz-box-shadow: 1px 3px 20px #111;
  -webkit-box-shadow: 1px 3px 20px #111;
  box-shadow: 1px 3px 20px #111;
}

#omnom, #empty_omnom {
  position: relative;
  background: transparent url(/images/omnombg.png) no-repeat -8px 0;
  float: left;
  padding: 60px 20px 0;
  width: 240px;
  height: 435px;
  background-color: #F4F0E6;
}

#omnom h2, #empty_omnom h2 {
  text-indent: -9000px;
}

#sum_noms {
  padding-left: 10px;
  padding-top: 15px;
  font-size: .7em;
}

#sum_noms li
{
  padding-top: 0px;
}

#sum_noms div.name {
  font-family: "Layne Lighthouse Bold",Georgia, serif;
}

a.remove {
  color: #42210B;
  position: relative;
  left: 200px;
  top: -20px;
  font: 10px "Arial Black", Gadget, sans-serif;
  background: #F78288;
  padding: 0 4px;
  border: 3px solid #AF414C;
}

#new_nom {
  position: absolute;
  bottom: 13px;
  left: 30px;
}

#new_nom_name, #new_nom_details {
  width: 200px;
  font-size: .8em;
  background: #fff;
  padding: 0 .5em;
  margin-right: .4em;
  border: 3px solid #998675;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

#new_nom_name {
  height: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#new_nom_details {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#ohaipplz {
  background: transparent url(/images/ohhai.png) no-repeat 10px 10px;
  float: left;
  width: 280px;
  height: 495px;
}

#ohaipplz h2 {
  text-indent: -9000px;
}

#ohaipplz form {
  margin: 80px 0 0;
  text-align: center;
}

#ohaipplz input {
  background: none;
  border: none;
  margin: 3px 0;
}

#ohaipplz p input {
  font-size: 15px;
  background: #fff;
  width: 210px;
  height: 25px;
  padding: 5px .8em 0;
  border: 3px solid #998675;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

p input#nom {
  position: relative;
  top: 0;
  left: 150px;
  height: 149px;
  width: 409px;
  background: transparent url(/images/nom.png) no-repeat top left;
  border: none;
  text-indent: -9000px;
  cursor: pointer;
  filter:alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transform-origin: -35% 35%;
  -moz-transform: rotate(4deg);
  -webkit-transform-origin: -35% 35%;
  -webkit-transform: rotate(4deg);
  transform-origin: -35% 35%;
  transform: rotate(4deg);
}

#shiro_neko {
  position: absolute;
  left: 100px;
  bottom: -150px;
  background: transparent url(/images/shiro_neko.png) no-repeat 0 0;
  height: 214px;
  width: 218px;
  -moz-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

p input#nom:hover {
  background: transparent url(/images/nomnom.png) no-repeat top left;
}

p input#nom:active {
  position: relative;
  top: 5px;
  left: 150px;
}

input#creator_email {
  margin: 0 0 65px;
}

#sum_noms .name {
  font-weight: bold;
}

a {
  color: #7F8212;
  text-decoration: none;
}

#tell_me_how p, #tell_me_how li {
  padding-bottom: .4em;
}
#tell_me_how li {
  list-style-type: disc;
  margin-left: 2em;
}
#location_form p {
  color: #998675;
  font-size: .7em;
  margin: .2em 0 0 .5em;
}

#yelp_contrib {
/*  font-size: 0.6em;*/
  font-size: 0.9em;
  line-height: 32px;
  position: absolute;
  bottom: 0px;
  right: 5px;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  
}

#yelp_contrib img {
  vertical-align: top;
}

form p { position:relative }
label.inside { position:absolute; top:0; left:10px}

label.inside[for=new_nom_details] {top:2px;}
label.inside[for=creator_email]   {top:6px; left:30px;}

#mail {
  z-index: 10;
  position: absolute;
  background: transparent url(/images/mail.png) no-repeat top left;
  height: 270px;
  width: 291px;
  left: 500px;
  top: 190px;
  padding: 56px 30px 0 75px;
  margin-right: 175px;
  text-align: center;
}

#mail h1 {
  font-size: 1.7em;
}

#glossary {
  position: absolute;
  width: 275px;
  left: 270px;
  top: 120px;
  padding: 10px 20px 40px;
  -moz-transform-origin: 10% 90%;
  -moz-transform: rotate(-1deg);
  -webkit-transform-origin: 30% 0;
  -webkit-transform: rotate(-1deg);
  transform-origin: 0 0;
  transform: rotate(-1deg);
  -moz-box-shadow: 1px 3px 20px #111;
   -webkit-box-shadow: 1px 3px 20px #111;
   box-shadow: 1px 3px 20px #111;
}

#glossary h3 {
  font-size: 3em;
  text-align: center;
  border-bottom: 4px dotted #42210B;
}

#glossary dt {
  font: 1.6em "Layne Lighthouse Bold",Georgia, serif;
  margin-top: .8em;
}

#results_page {
  position: relative;
}

.result, #results_page .lame_pplz{
  font-size: .8em;
  z-index: 5;
  margin: 0px 10px 10px 10px;
  background-color: #F4F0E6;
  z-index: 1;
  position: relative;
  left: 130px;
  top: 80px;
  width: 455px;
  margin-left: 50px;
  -moz-box-shadow: 1px 3px 20px #111;
  -webkit-box-shadow: 1px 3px 20px #111;
  box-shadow: 1px 3px 20px #111;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.votez .result {
  width: 350px;
}

.votez {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  width: 750px;
}

.result .nom {
  width: 170px;
  float: left;
  padding: 10px 20px 15px;
}

.result .nom .name {
  font: 1.6em "Layne Lighthouse Bold",Georgia, serif;
  font-size: 2em;
}

.result .pplz{
  float: right;
  padding-right: 20px;
}

.pick {
  float: right;
  padding: 20px 20px;
}

#vote input {
  font-size: 1.8em;
  background: #C9D159;
  padding: 0 .5em;
  border: 3px solid #7F8212;
  position: absolute;
  bottom: -30px;
  right: 60px;
  cursor: pointer;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.pick img {
  vertical-align: middle;
}

#vote input:active {
  position: absolute;
  bottom: -32px;
  right: 60px;
}

.result .pplz p {
  background: #F78288;
  text-align: right;
  margin: 5px -40px 0 0;
  padding: 5px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 1px 3px 7px #222;
  -webkit-box-shadow: 1px 3px 7px #222;
  box-shadow: 1px 3px 7px #222;
}

.result .pplz li {
  background: #C9D159;
  text-align: right;
  margin: 5px -40px 5px 0;
  padding: 5px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 1px 3px 7px #222;
  -webkit-box-shadow: 1px 3px 7px #222;
  box-shadow: 1px 3px 7px #222;
}

.result .pplz img {
  vertical-align: middle;
  border: 4px solid #42210B;
  margin-left: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.lame_pplz {
  padding: 10px 20px 10px;
}

.lame_pplz h3 {
  text-align: center;
  font-size: 2em;
}

#i_have_envelopes_plz {
  z-index: 8;
  position: absolute;
  top: -15px;
  left: -30px;
  background: transparent url(/images/results.png) no-repeat top left;
  height: 293px;
  width: 210px;
}

h2#i_have_envelopes_plz {
  font-size: 1.4em;
  text-align: center;
  width: 165px;
  padding: 20px 40px 0 180px; 
  margin-right: 50px;
}

br {
  clear: both;
}

#rumble_banner {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 125px;
  width: 125px;
  background: url(/images/rumble.png) no-repeat;
  text-indent: -999em;
  text-decoration: none;
}