@font-face {
font-family: "Layne Lighthouse";
src: url("/fonts/PhaistosDisk_-_Layne_Lighthouse.ttf")
}

@font-face {
font-family: "Layne Lighthouse Bold";
src: url("/fonts/PhaistosDisk_-_Layne_Lighthouse_bold.ttf")
}

body {
  font: 100% "Layne Lighthouse",Georgia, serif;
  color: #42210B;
}

body strong {
  font-family: "Layne Lighthouse Bold",Georgia, serif;
}

a {
  color: #7F8212;
  text-decoration: none;
}

#tell_me_how p, #tell_me_how li {
  padding-bottom: .4em;
}
#tell_me_how li {
  list-style-type: disc;
  margin-left: 2em;
}
#location_form p {
  color: #998675;
  font-size: .7em;
  margin: .2em 0 0 .5em;
}

#sum_noms {
  margin-left: 30px;
  font-size: .8em;
}