Omnomnomnom

You, or someone who stole your email address, started an Omnominator for a group meal.

If that was you, go here to register your choice and activate the Omninator for the others: <%= vote_url(@ppl.verification_code) %>

If it wasn't you, you might consider changing your email password.
