Hungry?

<%= @creator %> wants to go eat with you, or claims to. 

They've asked you to help pick a place to go.  If you don't want to end up eating live deep-fried squid with extra-special sauce, you might want to vote.  

To do so, go here: 

<%= vote_url(@ppl.verification_code) %>