<div id="mail">
  <h1>Check your mail!</h1>
  <p>Your OmNom has been created. We've sent you an email.  Clink on the link included there for your convenience, and as soon as you register your choice of Noms we'll activate the OmNom and notify your pplz.</p>
</div>

<div id="glossary">
  <h3>Glossary</h3>
  <dl>
    <dt>OmNom</dt>
    <dd>A group decision, the purpose of which is to choose a Nom. Helpfully facilitated by Omnomninator.com</dd>
    <dt>Nom</dt>
    <dd>A place that sells comestibles to pplz.</dd>
    <dt>Ppl</dt>
    <dd>Someone who goes to a Nom, orders a comestible, and makes pleasant "om nom nom nom nom" sounds.</dd>
  </dl>
</div>
