<div id="mail">
  <h1>Check your mail!</h1>
  <p>Your OmNom has been created. We've sent your an email. Click the activation link in the email, and pick your Nom.  As soon as you do, we'll ask all the other pplz to do the same.</p>
</div>

<div id="glossary">
  <h3>Glossary</h3>
  <dl>
    <dt>OmNom</dt>
    <dd>A group decision, the purpose of which is to choose a Nom. Helpfully facilitated by Omnomninator.com</dd>
    <dt>Nom</dt>
    <dd>A place that sells comestibles to pplz (sometimes called a "restaurant").</dd>
    <dt>Ppl</dt>
    <dd>Someone who goes to a Nom, orders a comestible, and makes pleasant "om nom nom nom nom" sounds.</dd>
  </dl>
</div>
