<div id="icanhaznoms">
  <div id="tooltip"></div>
  <div id="yelp_message">&nbsp;</div>
  <div id="map_canvas"></div>
  <form action="#" met hod="get" id="location_form">
    <div>
      <label>
        Move Map (City, State or Zip)
        <input type="text" name="location_text" value="" id="location_text"/>
      </label>
      <input type="submit" value="Go &rarr;"/>
    </div>
  </form>
  <%= genre_input_list %>
</div>

<div id="omnom">
  <h2>Omnoms!</h2>
  <p>These are the places folks will choose between. Pick some places from the map at left, or add your own.</p>
  <ul id="sum_noms">
    <li>
      <div class="name">Mema's Alaskan Tacos</div>
      <div class="details">123 Main St<br/>(813) 514-TACO (<a href="${url}">Reviews</a>)</div>
      <a href="#" class="remove">X</a>
    </li>
  </ul>

  <form action="#" method="get" id="new_nom">
    <p><input type="text" name="new_nom_name" id="new_nom_name"/></p>
    <p><textarea name="new_nom_details" id="new_nom_details" rows="3" cols="24"></textarea></p>
    <p><input type="submit" value="Add"/></p>
  </form>
</div>

<div id="ohaipplz">
  <h2>Pplz</h2>
  <p>Who's coming?</p>
  <form action="#" method="get" id="sum_pplz">
    <p><input type="text" name="owner_email" id="owner_email"/></p>
    <p><input type="text" name="ppl_emailz[]" id="ppl_email_1"/></p>
    <p><input type="text" name="ppl_emailz[]" id="ppl_email_2"/></p>
    <p><input type="text" name="ppl_emailz[]" id="ppl_email_3"/></p>
    <p><input type="text" name="ppl_emailz[]" id="ppl_email_4"/></p>
    <p><input type="text" name="ppl_emailz[]" id="ppl_email_5"/></p>
    <p><input type="text" name="ppl_emailz[]" id="ppl_email_6"/></p>
    <p><input type="submit" value="Nom!!"></p>
  </form>
  
</div>

