<div id="oh_hai">
<div id="icanhaznoms">
  <div id="tooltip"></div>
  <div id="yelp_message"><p></p></div>
  <div id="map_canvas"></div>
  <form action="#" method="get" id="location_form">
    <div>
      <label>
        <input type="text" name="location_text" value="" id="location_text"/>
      </label>
      <input type="submit" value="Go &rarr;" class="affirmative"/>
      <p>Move Map (City, State or Zip)</p>
    </div>
  </form>
  <h3>Only show these kind of noms:</h3>
  
  <%= genre_input_list %>
  <p id="yelp_contrib">Results by <%= link_to image_tag('yelp_logo_50x25.png', :alt => 'Yelp'), 'http://www.yelp.com' %></p>
</div>
<div id="wrapper">
  <div id="empty_omnom">
    <h2>Omnoms!</h2>
    <div id="tell_me_how">
      <p>
        You want to go eat with some friends, co-workers or minions.  You don't want to play Restaurant Mussolini, though (does everyone crave fried alligator toes?)
      </p>
      <p>
        <strong>Enter the Omnominator:</strong>
      </p>
      <ul>
        <li>Pick restaurants from our yelp-powered map (or add your faves).
        </li>
        <li>We'll e-mail everyone and track the results.
        </li>
        <li>Go have <strong>fried alligator toes</strong> with the reassurance that everyone else is as weird as you.
        </li>
      </ul>
      <p>
        It's time to eat! Om nom nom nom...
      </p>
    </div>
  </div>

  <div id="omnom">
    <ul id="sum_noms">
    </ul>
  </div>

  <form action="#" method="get" id="new_nom">
    <p><input type="text" name="new_nom_name" id="new_nom_name"/></p>
    <p><textarea name="new_nom_details" id="new_nom_details" rows="3" cols="24"></textarea></p>
    <p><input type="submit" value="Add" class="affirmative"/></p>
  </form>

  <div id="ohaipplz">
    <h2>Ur Email</h2>
    <h2>Other Pplz Coming?</h2>
    <form action="#" method="get" id="sum_pplz">
      <p><input type="text" id="creator_email" /></p>
      <p><input type="text" name="ppl_emailz" /></p>
      <p><input type="text" name="ppl_emailz" /></p>
      <p><input type="text" name="ppl_emailz" /></p>
      <p><input type="text" name="ppl_emailz" /></p>
      <p><input type="text" name="ppl_emailz" /></p>
      <p><input type="submit" value="Nom!!" id="nom"/></p>
    </form>
  </div>
</div>
</div>