<div id="oh_hai">
<div id="tell_me_how">
  <h1>
    Enter the Omnominator:
  </h1>
  <ul>
    <li>You'll pick some restaurants, from our yelp-powered map (or add your faves).
    </li>
    <li>We'll e-mail the other folks, they'll make their choice, and you'll see the tally.
    </li>
    <li>You can then go have <strong>fried alligator toes</strong> with the reassurance that everyone else is as weird as you. Except maybe Sally.
    </li>
  </ul>
  <p>
    Hey, it's time to eat! Om nom nom nom nom nom nom....
  </p>
</div>
<div id="icanhaznoms">
  <div id="tooltip"></div>
  <div id="yelp_message">&nbsp;</div>
  <div id="map_canvas"></div>
  <form action="#" met hod="get" id="location_form">
    <div>
      <label>
        Move Map (City, State or Zip)
        <input type="text" name="location_text" value="" id="location_text"/>
      </label>
      <input type="submit" value="Go &rarr;"/>
    </div>
  </form>
  <%= genre_input_list %>
</div>

<div id="omnom">
  <h2>Omnoms!</h2>
  <p>These are the places folks will choose between. Pick some places from the map at left, or add your own.</p>
  <ul id="sum_noms">
    <li>
      <div class="name">Mema's Alaskan Tacos</div>
      <div class="details">123 Main St<br/>(813) 514-TACO (<a href="http://alaskantacos.com">Reviews</a>)</div>
      <a href="#" class="remove">X</a>
    </li>
  </ul>

  <form action="#" method="get" id="new_nom">
    <p><input type="text" name="new_nom_name" id="new_nom_name"/></p>
    <p><textarea name="new_nom_details" id="new_nom_details" rows="3" cols="24"></textarea></p>
    <p><input type="submit" value="Add"/></p>
  </form>
</div>

<div id="ohaipplz">
  <h2>Ur Email</h2>
  <h2>Other Pplz Coming?</h2>
  <form action="#" method="get" id="sum_pplz">
    <p><input type="text" id="creator_email" /></p>
    <p><input type="text" name="ppl_emailz" /></p>
    <p><input type="text" name="ppl_emailz" /></p>
    <p><input type="text" name="ppl_emailz" /></p>
    <p><input type="text" name="ppl_emailz" /></p>
    <p><input type="text" name="ppl_emailz" /></p>
    <p><input type="text" name="ppl_emailz" /></p>
    <p><input type="submit" value="Nom!!" id="nom"></p>
  </form>
  
</div>
</div>