<div id="tooltip"></div><div id="map_canvas"></div>
<form action="#" method="get" id="location_form">
  <label>
    Move Map (City, State or Zip)
    <input type="text" name="location_text" value="" id="location_text"/>
  </label>
  <input type="submit" value="Go &rarr;"/>
</form>
<%= genre_input_list %>
